.obsidLogo {
  width: 92vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0 auto;
}

.menu {
  height: 100vh;
  background-color: var(--white);
  position: fixed;
  right: 0;
  top: 0;
  color: var(--black);
  z-index: 9;
}

.menu .menubody {
  box-sizing: border-box;
  height: 94vh;
  padding: 20px 2rem;
  display: flex;
  flex-direction: column;
}

.menu .menubody .nav {
  display: flex;
  flex-direction: column;
  font-size: 55px;
  width: 85vw;
  margin-top: 50px;
}

.menu .menubody .nav .menuheader {
  border-bottom: 1px solid var(--black);
  text-transform: uppercase;
  font-size: 20px;
  margin: 30px 0;
  z-index: 99;
}

.menu .menubody .nav .menuheader h2 {
  font-size: 27px;
  text-transform: none;
}

.menu .menubody .nav .menuheader p {
  font-size: 18px;
  text-transform: none;
  max-width: 350px;
}

.menu a,
.obsidLogo a {
  color: var(--black);
  text-decoration: none;
}


/* Footer */
.menufooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 50px;
}


/* ========================
===========================
Main Header Styles 
===========================
======================== */

.headerWrap {
  position: fixed;
  right: 0;
  top: -2px;
  z-index: 99;
}

.headerWrap .button {
  width: 77px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrap .burger {
  width: 100%;
}

.headerWrap .burger::after,
.headerWrap .burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: var(--black);
  position: relative;
  transition: transform 0.3s;
}

.headerWrap .burger::after {
  top: -5px;
}

.headerWrap .burger::before {
  top: 5px;
}

.headerWrap .burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.headerWrap .burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}