.parallaxSection {
  position: relative;
  overflow: hidden;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parallaxImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
  z-index: 1;
}

.textContainer {
  position: relative;
  z-index: 2;
  color: white;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .parallaxSection {
    height: 50vh;
  }
}

@media (max-width: 600px) {
  .parallaxSection {
    height: 44vh;
  }
}


/* CTA */

.ctaSection {
  background-color: #0d0d0d;
  color: #fff;
  min-height: 40vh;
  padding: 0 2rem;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctaHeading {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.ctaEmail {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font: 18px;
}

.ctaEmail:hover {
  color: var(--white);
  text-decoration: underline;
}