.atf {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  background-color: var(--white);
  position: relative;
}

.title {
  width: 45%;
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.plane {
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 50%;
}

@media(max-width:1025px) {

  .atf,
  .plane {
    width: 100vw;
    height: 70vh;
  }

  .title {
    width: 45%;
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
  }

  .atf .title h1 {
    font-size: 55px;
  }

}

@media(max-width:880px) {

  .atf,
  .plane,
  .title {
    width: 100vw;
    height: 85vh;
    top: 0;
    left: 0;
  }

  .title {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 22rem);
    justify-content: flex-end;
    padding-top: 8rem;
    padding-left: 3rem;
  }

  .atf .title h1 {
    font-size: 44px;
  }

}

@media(max-width:650px) {

  .atf,
  .plane,
  .title {
    width: 100vw;
    height: 85vh;
    top: 0;
    left: 0;
  }

  .title {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 2rem);
    justify-content: flex-end;
    padding-top: initial;
    padding-left: 1rem;
  }

  .atf .title h1 {
    font-size: 44px;
  }

}

/* ==============================
=================================
      Floating Images ATF
=================================
============================== */

.plane {
  filter: brightness(0.7);
}

.plane a {
  position: absolute;
  display: inline-block;
}

.plane a img {
  border-radius: .7rem;
}

.plane:nth-of-type(1) a {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.plane:nth-of-type(2) a {
  left: 65%;
  top: 65%;
  transform: translate(-40%, -40%);
}

@media(max-width:1025px) {
  .plane:nth-of-type(1) a {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .plane:nth-of-type(2) a {
    left: 30%;
    top: 65%;
    transform: translate(-40%, -40%);
  }
}

@media(max-width:880px) {
  .plane:nth-of-type(1) a {
    left: 13%;
    top: 30%;
    transform: translateY(-50%);
  }

  .plane:nth-of-type(2) a {
    left: 60%;
    top: 40%;
    transform: translate(-40%, -40%);
  }
}

@media(max-width:650px) {

  .plane:nth-of-type(1) a {
    left: 1rem;
    top: 30%;
    transform: translateY(-50%);
  }

  .plane:nth-of-type(2) a {
    left: initial;
    right: 0;
    top: 27%;
    transform: initial;
  }

}