.atf,
.altAtf {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  background-color: var(--white);
  position: relative;
}

.atf .title {
  width: 45%;
  max-width: 500px;
  height: calc(100% - 2rem);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.atf .plane {
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 50%;
}

@media(max-width:1400px) {

  .atf .title {
    padding-left: 3rem;
  }
}

/* ==============================
=================================
      Floating Images ATF
=================================
============================== */

.atf .plane {
  filter: brightness(0.7);
}

.atf .plane a {
  position: absolute;
  display: inline-block;
}

.atf .plane a img {
  border-radius: .7rem;
}

.atf .plane:nth-of-type(1) a {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.atf .plane:nth-of-type(2) a {
  left: 65%;
  top: 65%;
  transform: translate(-40%, -40%);
}

@media(max-width:1025px) {

  .atf,
  .altAtf .plane {
    width: 100vw;
    height: 65vh;
  }

  .atf .title {
    width: 45%;
    max-width: 500px;
    height: calc(100% - 2rem);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
  }

  .atf .title h1 {
    font-size: 55px;
  }

  .altAtf .plane {
    width: 100%;
  }

  .atf .plane:nth-of-type(1) a {
    left: 0;
    top: 40%;
    transform: translateY(-50%);
  }

  .atf .plane:nth-of-type(2) a {
    left: 58%;
    top: 50%;
    transform: translate(-40%, -40%);
  }
}

@media(max-width:880px) {

  .atf,
  .atf .plane,
  .atf .title {
    width: 100vw;
    height: 80vh;
  }

  .atf .plane {
    left: 0;
  }

  .atf .title {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 15rem);
    justify-content: flex-end;
    padding-top: 8rem;
    padding-left: 3rem;
  }

  .atf .title h1 {
    font-size: 44px;
  }

  .atf .plane:nth-of-type(1) a {
    left: 2rem;
    top: 30%;
    transform: translateY(-50%);
  }

  .atf .plane:nth-of-type(2) a {
    left: 55%;
    top: 40%;
    transform: translate(-40%, -40%);
  }
}

@media(max-width:650px) {

  .atf,
  .atf .plane,
  .atf .title {
    width: 100vw;
    height: 85vh;
    top: 0;
    left: 0;
  }

  .atf .title {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 2rem);
    justify-content: flex-end;
    padding-top: initial;
    padding-left: 1rem;
  }

  .atf .title h1 {
    font-size: 44px;
  }

  .atf .plane:nth-of-type(1) a {
    left: 1rem;
    top: 30%;
    transform: translateY(-50%);
  }

  .atf .plane:nth-of-type(2) a {
    left: initial;
    right: 0;
    top: 27%;
    transform: initial;
  }

}


/* ==============================
=================================
      Alt -- Floating Images
=================================
============================== */
.altAtf {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.altAtf .title {
  width: 45%;
  max-width: 500px;
  height: calc(45% - 2rem);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 50%;
}

.altAtf .plane {
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.7);
}

.altAtf .plane a {
  position: absolute;
  display: inline-block;
}

.altAtf .plane a img {
  border-radius: .7rem;
}

.altAtf .plane:nth-of-type(1) a {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.altAtf .plane:nth-of-type(2) a {
  left: 65%;
  top: 65%;
  transform: translate(-40%, -40%);
}

@media(max-width:1025px) {
  .altAtf .plane:nth-of-type(1) a {
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .altAtf .plane:nth-of-type(2) a {
    left: 63%;
    top: 65%;
    transform: translate(-40%, -40%);
  }
}

@media(max-width:880px) {

  .altAtf,
  .altAtf .plane,
  .altAtf .title {
    width: 100vw;
    height: 80vh;
  }

  .altAtf .plane {
    left: 0;
  }

  .altAtf .title {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 15rem);
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 8rem;
    padding-left: 3rem;
    margin-left: 0;
  }

  .altAtf .title h1 {
    font-size: 44px;
  }

  .altAtf .plane:nth-of-type(1) a {
    left: 13%;
    top: 30%;
    transform: translateY(-50%);
  }

  .altAtf .plane:nth-of-type(2) a {
    left: 60%;
    top: 40%;
    transform: translate(-40%, -40%);
  }
}

@media(max-width:650px) {

  .altAtf,
  .altAtf .plane,
  .altAtf .title {
    width: 100vw;
    height: 85vh;
    top: 0;
    left: 0;
  }

  .altAtf .title {
    width: 100%;
    max-width: 600px;
    height: calc(100% - 2rem);
    justify-content: flex-end;
    padding-top: initial;
    padding-left: 1rem;
  }

  .altAtf .title h1 {
    font-size: 44px;
  }

  .altAtf .plane:nth-of-type(1) a {
    left: 1rem;
    top: 30%;
    transform: translateY(-50%);
  }

  .altAtf .plane:nth-of-type(2) a {
    left: 0;
    top: 27%;
    transform: initial;
  }

}