.imageInner {
  overflow: hidden;
}

.artistImage {
  transition: transform 0.4s ease;
}

.card:hover .artistImage {
  transform: scale(1.05) translateY(-2px);
}

/* =============================
================================
        Artist Page
================================
============================= */

.atf {
  padding: 5rem 2rem 1rem 2rem;
}

.atf h1 {
  margin-bottom: 0;
}

.atf p {
  font-size: 22px;
  margin-top: 0;
  max-width: 800px;
}

.artists {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artists .card {
  width: calc(33.3% - 1rem);
}

.artists a img {
  width: 100%;
  height: auto;
  filter: brightness(0.7);
}