.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.imageSection {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contactImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.formSection {
  width: calc(50vw - 4rem);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 3rem;
  font-size: 1.125rem;
  color: var(--black);
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.input,
.textarea {
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  width: 100%;
  background-color: var(--white);
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: var(--black);
}

.button {
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
  background-color: var(--black);
  transform: scale(1.05);
}

/* ------------------ */
/* 📱 Responsive Rules */
/* ------------------ */

@media screen and (max-width: 1024px) {
  .page {
    flex-direction: column;
    height: auto;
  }

  .imageSection {
    width: 100vw;
    height: 50vh;
  }

  .formSection {
    width: calc(100vw - 3rem);
    padding: 2rem 1.5rem;
    align-items: center;
    text-align: center;
  }

  .heading {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .form {
    align-items: center;
  }

  .input,
  .textarea {
    font-size: 1rem;
    width: 90%;
  }

  .button {
    width: 90%;
    max-width: 300px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2.3rem;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .formSection {
    padding: 1.5rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }
}