.atf {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
  position: relative;
}

.atf .title {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  width: 95vw;
  text-align: center;
}

.atf .plane {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media(max-width:1025px) {

  .atf,
  .atf .plane {
    width: 100vw;
    height: 80vh;
  }

  .atf .title {
    top: 52%;
  }

  .atf .title h1 {
    font-size: 55px;
  }

}

@media(max-width:650px) {

  .atf,
  .atf .plane {
    width: 100vw;
    height: 85vh;
  }

  .atf .title {
    top: 48%;
  }

  .atf .title p {
    width: 85%;
    margin: 10px auto;
  }

}

/* ==============================
=================================
          Planes
=================================
============================== */

.atf .plane a {
  position: absolute;
  display: inline-block;
}

/* First .plane */
.atf .plane:nth-of-type(1) {
  filter: brightness(0.7);
}

/* bottom middle */
.atf .plane:nth-of-type(1) a:nth-of-type(1) {
  left: 43%;
  bottom: 5%;
}

/* bottom first left */
.atf .plane:nth-of-type(1) a:nth-of-type(2) {
  left: 3%;
  bottom: 20%
}

/* top middle */
.atf .plane:nth-of-type(1) a:nth-of-type(3) {
  left: 53%;
  top: 5%;
}

@media(max-width:1025px) {

  /* bottom middle */
  .atf .plane:nth-of-type(1) a:nth-of-type(1) {
    left: 40%;
    bottom: 0;
  }

  /* bottom first left */
  .atf .plane:nth-of-type(1) a:nth-of-type(2) {
    display: none;
  }

  /* top middle */
  .atf .plane:nth-of-type(1) a:nth-of-type(3) {
    display: none;
  }

}

@media(max-width:650px) {

  /* bottom middle */
  .atf .plane:nth-of-type(1) a:nth-of-type(1) {
    display: none;
  }

}

/* ==============================
=================================
      Second Plane
=================================
============================== */

/* Second .plane */
.atf .plane:nth-of-type(2) {
  filter: brightness(0.6);
}

/* top left */
.atf .plane:nth-of-type(2) a:nth-of-type(1) {
  left: 0;
  top: 10%;
}

/* top right */
.atf .plane:nth-of-type(2) a:nth-of-type(2) {
  right: 2%;
  top: 10%;
}

/* bottom second right */
.atf .plane:nth-of-type(2) a:nth-of-type(3) {
  right: 5%;
  bottom: 22%;
}

@media(max-width:1025px) {

  /* top left */
  .atf .plane:nth-of-type(2) a:nth-of-type(1) {
    left: 35%;
    top: 8%;
  }

  /* top right */
  .atf .plane:nth-of-type(2) a:nth-of-type(2) {
    left: 50%;
    top: 10%;
  }

  /* bottom second right */
  .atf .plane:nth-of-type(2) a:nth-of-type(3) {
    left: initial;
    right: 0;
    bottom: 10%;
  }

}

@media(max-width:650px) {

  /* top left */
  .atf .plane:nth-of-type(2) a:nth-of-type(1) {
    left: 15%;
    top: -15%;
  }

  /* top right */
  .atf .plane:nth-of-type(2) a:nth-of-type(2) {
    left: 50%;
    top: -8%;
  }

  /* bottom second right */
  .atf .plane:nth-of-type(2) a:nth-of-type(3) {
    left: initial;
    right: -20%;
    top: 77%;
  }

}

/* ==============================
=================================
      Third Plane
=================================
============================== */

/* Third .plane */
.atf .plane:nth-of-type(3) {
  filter: brightness(0.5);
}

/* bottom first right */
.atf .plane:nth-of-type(3) a:nth-of-type(1) {
  right: 12%;
  bottom: 10%;
}

/* bottom second left */
.atf .plane:nth-of-type(3) a:nth-of-type(2) {
  left: 10%;
  top: 50%;
}

@media(max-width:1025px) {

  /* bottom first right */
  .atf .plane:nth-of-type(3) a:nth-of-type(1) {
    display: none;
  }

  /* bottom second left */
  .atf .plane:nth-of-type(3) a:nth-of-type(2) {
    left: 0;
    top: 70%;
  }

}

@media(max-width:650px) {

  /* bottom second left */
  .atf .plane:nth-of-type(3) a:nth-of-type(2) {
    left: -10%;
    top: 82%;
  }

}

/* ==============================
=================================
      Home About Section
=================================
============================== */

.about {
  color: var(--white);
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.aboutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px 1rem;
  width: 91%;
  max-width: 777px;
  text-align: center;
}

@media only screen and (pointer: coarse) and (max-width: 1025px),
screen and (max-width: 1025px) {
  .about {
    min-height: 200px;
    background-attachment: scroll !important;
  }
}

@media only screen and (pointer: coarse) and (max-width: 650px),
screen and (max-width: 650px) {
  .aboutText {
    padding: 70px 20px;
  }
}

/* ==============================
=================================
      Home Work Section
=================================
============================== */

.workHeader {
  padding: 2rem 1rem;
  text-align: center;
}

.projects {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.projects a {
  display: block;
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 900px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}