@import url(https://db.onlinewebfonts.com/c/742dcddc06afc2dfc1ecedd0a42adca0?family=Cardinal+Fruit+Italic);
@import url(https://db.onlinewebfonts.com/c/2bfe809f5a433474ec388de3ccb69e73?family=Cardinal+Fruit+Medium);


@font-face {
  font-family: Maison Neue Book;
  src: url("../fonts/Maison-Neue-Book.woff2") format("woff");
}


:root {
  --white: #f8f8f5;
  --neutral: #ede8e4;
  --black: #000;
  --brown: #492728;
  --bodyFont: "Maison Neue Book", sans-serif;
}

.nextjs-toast,
.nextjs-toast button {
  display: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bodyFont);
  background-color: var(--white);
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
}

main {
  min-height: 75vh;
}

.container,
header {
  width: calc(100% - 2rem);
  padding: .5rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1.1;
}

h1 {
  font-size: 65px;
}

.h-italics {
  font-style: italic;
}

h2 {
  font-size: 51px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 19px;
}

@media only screen and (pointer: coarse) and (max-width: 1025px),
screen and (max-width: 1025px) {

  h1 {
    font-size: 65px;
  }

  .h-italics {
    font-style: italic;
  }

  h2 {
    font-size: 51px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 31px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 19px;
  }

}

@media only screen and (pointer: coarse) and (max-width: 650px),
screen and (max-width: 650px) {

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 31px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 19px;
  }
}


.button button {
  width: 150px;
  margin-top: 18px;
}

.light-button button {
  background: var(--neutral);
  color: var(--black);
  border: 1px solid var(--black);
  margin-right: 15px;
}

.dark-button button {
  background: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
}

.mobile {
  display: none;
}

@media only screen and (pointer: coarse) and (max-width: 650px),
screen and (max-width: 650px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

/* =============================
================================
        Header
================================
============================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 999;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav a {
  color: var(--brown);
  margin: 0 10px 0 0;
  text-decoration: none;
}

.header-logo {
  font-size: 22px;
  margin: 5px 0;
  letter-spacing: 1.5px;
}

.header-logo::after {
  display: none;
}

/* :hover state  */

nav a {
  font-size: 0.9rem;
  position: relative;
  letter-spacing: .7px;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: hsl(0, 0%, 30%);
  scale: 0 1;
  transition: scale 300ms, translate 500ms;
  transition-delay: 100ms;
}

nav a:hover::after {
  scale: 1 1;
}

nav a:hover+li::after {
  transition: translateY(-100%);
}

nav a:has(+ :hover)::after {
  transition: translateY(100%);
}

nav a.active {
  color: var(--brown);
}

/* :active */
header nav a.active::after {
  scale: 1 1;
}

header nav a.active+li::after {
  transition: translateY(-100%);
}

header nav a:has(+ .active)::after {
  transition: translateY(100%);
}

header nav li:nth-child(2) a {
  text-transform: uppercase;
  font-weight: 800;
}